/*#div-background{*/
/*background: url("img/background.png") #ccc;*/
/*}*/
html {
    background: url(img/background.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#title-wrapper {
    text-align: center;
    color: white;
    margin-top: 350px;
}
#title-wrapper h1{
    font-size: 5em;
    font-family: 'Work Sans', sans-serif;

}
.fa{
    color: white;
    font-size: 5em;
    margin-right: 8px;
}
.icons{
    text-align: center;

}
a{text-decoration: none;
}